In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
996,tt1077368,150000000,245527149,Dark Shadows,Johnny Depp|Michelle Pfeiffer|Helena Bonham Ca...,Tim Burton,Every Family Has Its Demons,Vampire Barnabas Collins is inadvertently free...,113,Comedy|Fantasy,Village Roadshow Pictures|Infinitum Nihil|GK F...,5/8/2012,5.6,2012
1195,tt1535108,115000000,286140700,Elysium,Matt Damon|Jodie Foster|Sharlto Copley|Alice B...,Neill Blomkamp,He can save us all.,"In the year 2159, two classes of people exist:...",109,Science Fiction|Action|Drama|Thriller,TriStar Pictures|Media Rights Capital|Sony Pic...,8/7/2013,6.5,2013

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['release_date']= pd.to_datetime(data['release_date'])

# Создаем дополнительй столбец к нашей таблице profit
# как разница между прибылью и затратами на создание фильма
data['profit']=data['revenue']-data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
#выбираем фильм с самым большим бюджетом
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals' #+

In [9]:
#выбираем самый продолжительный фильм
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh' #+

In [11]:
#выбираем самый короткий (в минутах) фильм
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '110' #+

In [13]:
#средняя продолжительность фильмов
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107' #+

In [15]:
#медианное значение длительности фильмов
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = 'Avatar' #+

In [17]:
#выбираем фильм с максимальной прибылью
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger' #+

In [19]:
#выбираем самый неудачный фильм
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478' #+

In [21]:
#создадим дополнительный DataFrame с прибыльными фильмами 
#и узнаем сколько их

len(data[data.profit > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = 'The Dark Knight' #+

In [23]:
#выделяем все фильмы 2008 года
data1 = data[(data.release_year == 2008)]

#узнаем какой из них самый прибыльный
data1[data1.revenue == data1.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = 'The Lone Ranger' #+

In [25]:
#выберем фильмы 2012-2014 годов, отсортируем их по прибыльности и покажем самый неудачный
data[data.release_year.isin([2012,2013,2014])].sort_values(by='profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = 'Drama' #+

In [27]:
#разделим жанры каждого фильма и с помощью метода Counter посчитаем их количество
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
answers['12'] = 'Drama' #+

In [29]:
#создадим отдельную таблицу с только прибыльными фильмами
data_profit = data[data.profit > 0]

#разделим жанры каждого фильма и с помощью метода Counter посчитаем их количество
Counter(data_profit.genres.str.split('|').sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [30]:
answers['13'] = 'Peter Jackson' #+

In [31]:
#воспользуемся функций pivot_table и создадим таблицу режиссеров, 
#значения таблицы будут кассовые сборы
pivot = data.pivot_table(values=['revenue'],
index=['imdb_id'],
columns=['director'],
aggfunc='sum',
margins=True,
fill_value=0)

#выделим из предыдущей таблицы суммарные сборы каждого режиссера
#и преобразуем в DataFtame
director_sum_revenue = pivot.loc['All']['revenue'].reset_index()

#переименуем колонки и уберем суммарные сборы всех режиссеров
director_sum_revenue.columns = ['director','revenue']

director_revenue = director_sum_revenue.drop(index = 957)

#узнаем режиссера с самыми большими кассовыми сборами
director_revenue.loc[director_revenue.revenue == director_revenue.revenue.max()]

          director     revenue
689  Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
answers['14'] = 'Robert Rodriguez' #+

In [33]:
#Создадим дополнительную таблицу только с фильмами 'Action'
data_action = data[data.genres.str.contains('Action', na=False)]

#Узнаем режиссера, чаще всего снимающего в стиле 'Action'
Counter(data_action.director.str.split('|').sum()).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
answers['15'] = 'Chris Hemsworth' #+

In [35]:
#Создадим дополнительную таблицу фильмов только 2012 года
data_2012 = data[data.release_year == 2012]

#Создадим список актеров, которые снимались в 2021 году
c = Counter(data_2012.cast.str.split('|').sum())
actors = c.keys()

#создадим пустой словарь
box_office = {} 

#введем дополнитую переменную
count = 0 

#создаем дополнительные таблицы data_actor с каждым актером
#суммируем доходы фильмов в каждой таблице и записываем в переменную 'count'
#записываем актера и суммарный доход фильмов с его участием в наш словарь
for actor in actors:
    data_actor = data_2012[data_2012.cast.str.contains(actor, na=False)]
    
    count = data_actor.revenue.sum()
    
    box_office.setdefault(actor, count)
    

#узнаем актера, фильмы с которым принесли самые высокие кассовые сборы в 2012
dict([max(box_office.items(), key=lambda act: act[1])])

{'Chris Hemsworth': 2027450773}

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
answers['16'] = 'Matt Damon' #+

In [37]:
#Создадим дополнительную таблицу с фильмами, где бюджет больше среднего
data_big_budget = data[data.budget > data.budget.mean()]

#Узнаем самого частровстречающегося актера
Counter(data_big_budget.cast.str.split('|').sum()).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
answers['17'] = 'Matt Damon' #+

In [39]:
#Создадим дополнительную таблицу с фильмами, где снимался Nicolas Cage
data_NC = data[data.cast.str.contains('Nicolas Cage', na=False)]

#Узнаем самый популярный жанр из выборки фильмов
Counter(data_NC.genres.str.split('|').sum()).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
answers['18'] = 'K-19: The Widowmaker' #+

In [41]:
#Создадим дополнительную таблицу с фильмами Paramount Pictures 
data_PP = data[data.production_companies.str.contains('Paramount Pictures', na=False)]

#Узнаем самый неудачный фильм
data_PP[data_PP.profit == data_PP.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
answers['19'] = '2015' #+

In [43]:
#Воспользуемся функцией pivot_table и создадим таблицу, где колонки будут года 
#2014, 2015, 2002, 2008, 2012, а в значениях будет прибль
pivot = data.loc[data['release_year'].isin(['2002','2008','2012','2014','2015'])].pivot_table(values=['revenue'],
index=['original_title'],
columns=['release_year'],
aggfunc='sum',
margins=True,
fill_value=0)

#Сгруппируем полученные данные в новую таблицу, где в строках будут года и
#соттветствующие им суммарные сборы за фильмы
box_office = pivot.loc['All']['revenue']

#Приведем получившуюся таблицу к DataFrame
box_office_df = box_office.reset_index()

#Переименуем колонки, чтобы было удобнее к ним обращаться
box_office_df.columns = ['release_year','box_office']

#Удалим суммарное значение всей прибыли за все года
box_office_df_normal = box_office_df.drop(index = 5)

#Узнаем самый прибыльный год
display(box_office_df_normal[box_office_df_normal.box_office == box_office_df_normal.box_office.max()])

  release_year   box_office
4         2015  25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
answers['20'] = '2014' #+

In [45]:
#Создаем дополнительную таблицу, где содержатся фильмы только студии 'Warner Bros'
data_WB = data[data.production_companies.str.contains('Warner Bros', na=False)]

#Воспользуемся функцией pivot_tablе, где в значениях прибыль, а в колонках - года
pivot = data_WB.pivot_table(values=['profit'],
index=['original_title'],
columns=['release_year'],
aggfunc='sum',
margins=True,
fill_value=0)

#Сгруппируем полученные данные в новую таблицу, где в строках будут года и
#соттветствующие им суммарные сборы за фильмы
years = pivot.loc['All']['profit']

#Приведем получившуюся таблицу к DataFrame
years_df = years.reset_index()

#Переименуем колонки, чтобы было удобнее к ним обращаться
years_df.columns = ['release_year','profit']

#Удалим суммарное значение всей прибыли за все года
years_df_normal = years_df.drop(index = 16)

display(years_df_normal[years_df_normal.profit == years_df_normal.profit.max()])

   release_year      profit
14         2014  2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
answers['21'] = '9 (Сентябрь)' #+

In [47]:
#Узнаем в каком месяце вышло больше всего фильмов
Counter(data.release_date.dt.month).most_common(1)

[(9, 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
answers['22'] = '450' #+

In [49]:
#создаем словарь с перчнем месяцев и количеством фильмов
c = Counter(data.release_date.dt.month)

#создадим переменную для суммирования фильмов
summer_films = 0

#создаем цикл в котором определяем летние месяцы и суммируем 
#количество фильмов
for month, count in c.items():
    if month == 6 or month == 7 or month == 8:
        summer_films += count
print (summer_films)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
answers['23'] = 'Peter Jackson' #+

In [51]:
#Создадим дополнительную таблицу, с датой релиза только в зимние месяцы
data_winter = data[(data.release_date.dt.month == 1) | (data.release_date.dt.month == 2) 
                   | (data.release_date.dt.month == 12)]

#Узнаем самого частовстречающегося режиссера
data_winter.director.value_counts().sort_values(ascending=False).head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
answers['24'] = 'Four By Two Productions' #+

In [53]:
# создадим столбец с длиной названия
data['title_length'] = data['original_title'].map(lambda x: len(x))

# получим список уникальных названий киностудий
companies = data['production_companies'].str.split('|').explode().unique() 

# создадим серию для хранения средних значений
sum_gen = pd.Series(dtype='float64', index=companies) 

# по всему датафрейму для каждой из компаний вычислим среднее значение для всех названий фильмов созданных компанией
for comp in companies:
    sum_gen[comp] = data['title_length'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()

# узнаем компанию, которая дает самые длинные названия к фильмам
sum_gen.sort_values(ascending=False).head(1)

Four By Two Productions    83.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
answers['25'] = 'Midnight Picture Show' #+

In [55]:
# создадим столбец с количеством слов в описании
data['overview_words'] = data['overview'].map(lambda x: len(x.split()))

# получим список уникальных названий киностудий
companies = data['production_companies'].str.split('|').explode().unique() 

# создадим серию для хранения среднего количества 
sum_gen = pd.Series(dtype='float64', index=companies)

# по всему датафрейму для каждой из компаний вычислим среднее количество слов в описании фильмов созданных компанией
for comp in companies:
    sum_gen[comp] = data['overview_words'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()
# получим топ-5
sum_gen.sort_values(ascending=False).head(1)

Midnight Picture Show    175.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [56]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' #+

In [57]:
#Учитывая, что в нашей таблице 1889 фильмов необходимо определить 19 лучших фильмов, 
#которые войдут в 1% лучших

#выборка в 0,97 от максимального значения представит нам 14 фильмов,
#среди которых будут фильмы, представленные в 1 варианте ответа
data_1_persent = data[data.vote_average > (data.vote_average.max()*0.97)]
data_1_persent.original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint' #+

In [59]:
#воспользуемся библиотекой itertools
from itertools import combinations
from itertools import chain

#Копипуем наш основной DataFrame
cast_combinations = data.copy()

#Создаем дополнительный столбец, где в строках будет список актеров 
cast_combinations['cast_split'] = cast_combinations['cast'].str.split('|')

#Создаем дополнительный столбец с комбинацией актеров в каждом фильме
cast_combinations['cast_togever']=cast_combinations.cast_split.apply(lambda x: list(combinations(x, 2)))

#создаем список комбинаций актеров в каждом фильме
list1 = cast_combinations.cast_togever.tolist()

#создаем список всех комбинаций актеров
list2 = list(chain(*list1))

#Получаем пару актеров, снимающихся в одном фильме вместе
Counter(list2).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [64]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers['1']

'Pirates of the Caribbean: On Stranger Tides'

In [61]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [65]:
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_length,overview_words
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810,14,26
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354,18,110
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201,9,22
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225,28,26
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360,9,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,2000-07-13,6.6,2000,82299717,5,27
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,2000-10-27,6.4,2000,-8444012,18,75
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,2000-06-30,4.0,2000,-40865180,36,58
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2000-02-16,5.2,2000,-3962091,10,24
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,2000-07-19,5.2,2000,-9782502,12,43